<div class="row">
  <div class="col-md-4">
    <article>
      <h2><a href="#">Building the Mention Sales Application on Unapp</a></h2>
      <p><span>May 12, 2018</span></p>
      <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
      <p><a href="#" class="author-img" style="background-image: url(assets/images/person1.jpg);"></a> <a href="#">by Dave Miller</a><a routerLink="comment" class="comment">Comment</a></p>
      <p><button class="btn btn-primary" (click)="onUpdate()">Update</button><button class="btn btn-danger" (click)="onDelete()">Delete</button></p>
    </article>
  </div>
  <div class="col-md-4">
    <article>
      <h2><a href="#">Building the Mention Sales Application on Unapp</a></h2>
      <p class="admin"><span>May 12, 2018</span></p>
      <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
      <p><a href="#" class="author-img" style="background-image: url(assets/images/person2.jpg);"></a> <a href="#">by Dave Miller</a><a routerLink="comment" class="comment">Comment</a></p>
      <p><button class="btn btn-primary" (click)="onUpdate()">Update</button><button class="btn btn-danger" (click)="onDelete()">Delete</button></p>
    </article>
  </div>
  <div class="col-md-4">
    <article>
      <h2><a href="#">Building the Mention Sales Application on Unapp</a></h2>
      <p><span>May 12, 2018</span></p>
      <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
      <p><a href="#" class="author-img" style="background-image: url(assets/images/person3.jpg);"></a> <a href="#">by Dave Miller</a><a routerLink="comment" class="comment">Comment</a></p>
      <p><button class="btn btn-primary" (click)="onUpdate()">Update</button><button class="btn btn-danger" (click)="onDelete()">Delete</button></p>
    </article>
  </div>
</div>
