<div class="row">
  <div class="col-md-12">
    <article>
      <h2>Building the Mention Sales Application on Unapp</h2>
      <p><span>May 12, 2018</span></p>
      <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
      <p>
        <a routerLink="/authors" class="author-img" style="background-image: url(assets/images/person1.jpg);"></a>
        <a routerLink="/authors">by Dave Miller</a>
        <a routerLink="/posts/comment" class="comment">Comment</a>
      </p>
      <p>
        <button class="btn btn-primary" (click)="onUpdate()">Update</button>
        <button class="btn btn-danger" (click)="onDelete()">Delete</button>
      </p>
    </article>
  </div>
